//Tipografia
$fuente_principal: "Montserrat", sans-serif;

// Colores
$verde: #4cb8b3;
$rosa: #f53756;
$amarillo: #fef46d;
$morado: #752f97;
$negro: #000000;
$blanco: #ffffff;
$gris: #625e64;

//Dispositivos
$pc: 992px;
$tablet: 768px;
$phone: 370px;